<ion-view view-title="Users">
  <ion-content>

    <div class="list card" ng-repeat="(key,user) in userCtrl.userList">
      <div class="item item-avatar">
        <img src="{{user.picture.thumbnail}}">
        <h2>{{user.name.first}} {{user.name.last}}</h2>
        <p>{{user.email}}</p>
        <!-- shows stars if the user is in the list of liked users   -->
        <div ng-if="userCtrl.userLiked.indexOf(key)>=0">
          <i class="ionicons ion-star assertive" ng-repeat="x in [1,2,3,4,5]"></i>
        </div>
        <!-- shows twitter icon if the user is in the list of followed users -->
        <div ng-if="userCtrl.userFollowed.indexOf(key)>=0">
          <i class="ionicons ion-social-twitter calm" ng-repeat="x in [1,2,3,4,5]"></i>
        </div>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{user.picture.large}}">

        <a class="item item-icon-left" href="#">
          <i class="icon ion-home"></i>
          <span>{{user.location.street}} {{user.location.city}} {{user.location.state}}</span>
        </a>
        <p>
          <button class="button button-royal" ng-disabled="userCtrl.userLiked.indexOf(key)>=0" value="{{key}}"
                  ng-model="userCtrl.userLiked" ng-click="userCtrl.doActionLike(key,user.name.first)">
            Like
          </button>
          <button class="button button-royal" ng-disabled="userCtrl.userFollowed.indexOf(key)>=0"
                  ng-model="userCtrl.userFollowed" ng-click="userCtrl.doActionFollow(key,user.name.first)">
            Follow
          </button>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
